<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div th:fragment="footer">
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-section support-info">
            <h3>Thông tin hỗ trợ</h3>
            <p><i class="fa fa-map-marker-alt"></i> Phường Linh Trung, Thủ Đức<br> Thành phố Hồ Chí Minh, Việt Nam - 1955</p>
            <p><i class="fa fa-phone-alt"></i> +084-123-4567 / 89</p>
            <p><i class="fa fa-envelope"></i> nhom21@ltweb.com</p>
        </div>

        <div class="footer-section quick-links">
            <h3>Tiện ích</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section policy-links">
            <h3>Chính sách</h3>
            <ul>
                <li><a href="#">Thanh toán</a></li>
                <li><a href="#">Hủy, trả hàng</a></li>
                <li><a href="#">Giao hàng và vận chuyển</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>

        <div class="footer-section social-links">
            <h3>Liên lạc với chúng tôi</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="payment-methods">
   
        </div>
        <p>Copyright © All Rights Reserved 2025 Template Design by <span>Nhom mac ec</span></p>
    </div>
</footer>
</div>
</body>
</html>